
/* Main APP Colors */
/* (Dim Gray) #6d6373
(Dark Gray) #a094a6
(Rosy Brown) #b8847d
(Eucalyptus) #9bb4ae
(Gainsboro) #d9d9d9 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #6d6373;
    font-size: 16px;
}

/* Header */
    /* Navigation */
        .nav-wrapper {
            background-color: #6d6373;
        }

        .nav-content {
            background-color: #a094a6;
        }

        nav .brand-logo {
            font-size: 28px;
            padding-left: 20px;
        }

        .train-nav {
            width: 100%;
        }

/* Main Section */
    main {
        background-color: #e8e8e8;
        position: relative;
        flex: 1 0 auto;
        z-index: 1;
    }

    .welcome-image {
        background-image: url(../images/train-short.jpeg);
        background-size: cover;
        height: 700px;
        padding: 0px;
        margin: 0;
    }

    #welcome {
        padding: 550px 10px 10px 50px;
        margin: 0;
        font-size: 70px;
        color: #e8e8e8;
    }

    .database-image {
        background-image: url(../images/database-short.jpeg);
        background-size: cover;
        height: 700px;
        padding: 0px;
        margin: 0;
    }

    .train-image {
        background-image: url(../images/database/amtrak-train-ventura-california.jpg);
        background-size: cover;
        height: 700px;
        padding: 0px;
        margin: 0;
    }

    .api-image {
        background-image: url(../images/api-short.jpeg);
        background-size: cover;
        height: 700px;
        padding: 0px;
        margin: 0;
    }

    /* Content & Containers */
        #container-interests, #container-contact, #container-resume {
            height: auto;
            width: 90%;
            background-color: #ffffff;
        }

        #database, #train-game, #train-ads, #api {
            height: auto;
            width: 90%;
            background-color: #ffffff;
        }
        
        #book-tickets {
            padding: 0 0 10px 0;
        }


        .content, h5 {
            color: #6d6373;
            text-align: left;
            padding: 10px;
            margin: 0;
        }

        h5 {
            margin: 0;
        }

        .icon {
            padding: 10px 0 0 10px;
        }

        #resume {
            width: 100%;
        }

        #buy-tickets, #departures {
            color: #ffffff;
            text-align: center;
            height: auto;
            background-color: #0c40e6;
            width: 200px;
        }

        #submit {
            color: #ffffff;
            background-color: #0c40e6;
            margin: 0 0 10px 0px;
        }

    /* Card Views */
        .card {
            margin: 15px 0 0 0;
        }

        .train-ad {
            margin: 45px 0 0 0;
        }

        #ad {
            margin: 20px 0 0 0;
        }

        .card-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 30px;
            width: 30px;
            margin: 10px;
        }

        .card-title {
            margin: 0;
        }

        cite title {
            margin: 5px;
        }

    /* Input Form */
        /* Contact Form */
            /* label color */
            .input-field label {
                color: #b8847d;
            }
            /* label underline focus color */
            .input-field input[type=text]:focus {
                border-bottom: 1px solid #000;
                box-shadow: 0 1px 0 0 #000;
                color: #b8847d;
            }
            /* valid color */
            .input-field input[type=text].valid {
                border-bottom: 1px solid#a094a6;
                box-shadow: 0 1px 0 0 #a094a6;
                color: #a094a6;
            }
            /* invalid color */
            .input-field input[type=text].invalid {
                border-bottom: 1px solid red;
                box-shadow: 0 1px 0 0 red;
                color: red;
            }
        
        /* Train-Game Buy Tickets */
            /* label color */
            .input-field label[for=train-name] {
                color: #0c40e6;
            }
            .input-field label[for=destination] {
                color: #0c40e6;
            }
            .input-field label[for=first-train] {
                color: #0c40e6;
            }
            .input-field label[for=frequency] {
                color: #0c40e6;
            }

            /* label focus color */
            .input-field input[type=text]:focus + label  {
                color: #6d6373;
            }
            /* label underline focus color */
            .input-field input[type=text]:focus {
                border-bottom: 1px solid #000;
                box-shadow: 0 1px 0 0 #000;
                color: #6d6373;
            }
            /* valid color */
            .input-field input[type=text].valid {
                border-bottom: 1px solid #6d6373;
                box-shadow: 0 1px 0 0 #6d6373;
                color: #6d6373;
            }   
            /* invalid color */
            .input-field input[type=text].invalid {
                border-bottom: 1px solid red;
                box-shadow: 0 1px 0 0 red;
                color: red;
            }

        #submit {
            background-color: #9bb4ae;
            margin-right: 10px;
        }

        #buy-tickets-submit{
            background-color: #0c40e6;
            margin-left: 10px;
        }

/* Modal */
    .modal {
        width: 75%;
    }

/* Footer */
    .social-media {
        height: 50px;
        width: 50px;
        margin: 3px;
    }

    .page-footer {
        background-color: #a094a6;
    }

    .footer-copyright {
        background-color: #6d6373;
    }
